@import url("reset.css");

@import url("fonts.css");

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

.title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: red;
    text-shadow: 2px 2px 3px rgb(51, 31, 10);
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 10px;
}

.text {
font-family: "Roboto", serif;
font-weight: 500;
}

.text-one{
color: aqua;
font-size: 15px;
text-decoration: underline;
word-spacing: 6px;
text-transform: lowercase;
text-align: center;
}
.text-seven{
    color: chartreuse;
    letter-spacing: 6px;
    word-spacing: 4px;
}

.text-four {
    color: brown;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    text-transform: uppercase;

}
.text-five {
    color: cyan;
    font-weight: 400;
    text-decoration: line-through;
    text-decoration-style: dotted;

}

h2,h3 {
    color: coral;
    font-weight: 400;
}

.text-eight{
    font-family: "BitcountGridSingle";
    font-weight: 500;
    color: green;
    
}
.text-two {
    font-family: "BitcountGridSingle" ;
    font-weight: 700;
    color: rgb(223, 234, 71);
}

.text-six {
    color: blueviolet;
    font-family: "BitcountGridSingle" ;
    font-size: 16px;
    text-shadow: 2px 2px 3px rgb(162, 51, 125);
    font-weight: 700;
    text-decoration: underline;
    line-height: 2;

}